:root {
  --transition-duration: .5s;
  --transition-duration-short: .2s;
}

body.popup-shown {
  overflow: hidden;
}

.popups {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition-duration: var(--transition-duration);
}

.popups.show {
  opacity: 1;
  backdrop-filter: blur(5px) brightness(0.4);
  pointer-events: auto;
}

.popup {
  position: fixed;
  z-index: 999;
  pointer-events: none;
  transition-duration: var(--transition-duration);
  width: min(95%, 70rem);
  max-height: 80%;
  overflow-y: auto;
  background-color: #d9d9de;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
  top: 50%;
  left: 50%;
  padding: 2rem;
  border-radius: 10px;
}

.popup.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  pointer-events: auto;
}

.popup .close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.popup .close::before, .popup .close::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #202020;
  transition-duration: var(--transition-duration-short);
}

.popup .close::before {
  transform: rotate(-45deg);
}

.popup .close::after {
  transform: rotate(45deg);
}

@font-face {
  font-family: "flaticon_portfolio";
  src: url("../../fonts/flaticon_portfolio.ttf?b38613d114cc7d934ff8ded193bc4bec") format("truetype"), url("../../fonts/flaticon_portfolio.woff?b38613d114cc7d934ff8ded193bc4bec") format("woff"), url("../../fonts/flaticon_portfolio.woff2?b38613d114cc7d934ff8ded193bc4bec") format("woff2"), url("../../fonts/flaticon_portfolio.eot?b38613d114cc7d934ff8ded193bc4bec#iefix") format("embedded-opentype"), url("../../fonts/flaticon_portfolio.svg?b38613d114cc7d934ff8ded193bc4bec#flaticon_portfolio") format("svg");
}
i[class^=flaticon-]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon_portfolio !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-link:before {
  content: "\f101";
}

.flaticon-play:before {
  content: "\f102";
}

.flaticon-close:before {
  content: "\f103";
}

.flaticon-github:before {
  content: "\f104";
}

.flaticon-behance:before {
  content: "\f105";
}

.flaticon-copy:before {
  content: "\f106";
}

.flaticon-external:before {
  content: "\f107";
}

.flaticon-broken-link:before {
  content: "\f108";
}

.flaticon-download:before {
  content: "\f109";
}

.flaticon-view:before {
  content: "\f10a";
}

.flaticon-google:before {
  content: "\f10b";
}

.flaticon-code:before {
  content: "\f10c";
}

/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/poppins-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/poppins-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins-v20-latin-300.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-300.woff") format("woff"), url("../../fonts/poppins-v20-latin-300.ttf") format("truetype"), url("../../fonts/poppins-v20-latin-300.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/poppins-v20-latin-300italic.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/poppins-v20-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins-v20-latin-300italic.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-300italic.woff") format("woff"), url("../../fonts/poppins-v20-latin-300italic.ttf") format("truetype"), url("../../fonts/poppins-v20-latin-300italic.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-600.woff") format("woff"), url("../../fonts/poppins-v20-latin-600.ttf") format("truetype"), url("../../fonts/poppins-v20-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/poppins-v20-latin-600italic.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/poppins-v20-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins-v20-latin-600italic.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-600italic.woff") format("woff"), url("../../fonts/poppins-v20-latin-600italic.ttf") format("truetype"), url("../../fonts/poppins-v20-latin-600italic.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/poppins-v20-latin-800.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/poppins-v20-latin-800.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins-v20-latin-800.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-800.woff") format("woff"), url("../../fonts/poppins-v20-latin-800.ttf") format("truetype"), url("../../fonts/poppins-v20-latin-800.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/poppins-v20-latin-800italic.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/poppins-v20-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins-v20-latin-800italic.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-800italic.woff") format("woff"), url("../../fonts/poppins-v20-latin-800italic.ttf") format("truetype"), url("../../fonts/poppins-v20-latin-800italic.svg#Poppins") format("svg"); /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #19191a;
}
body:hover > #mouse {
  opacity: 1;
}

html body.no-js #mouse {
  display: none;
}

html body #mouse {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  background-color: rgba(150, 150, 153, 0.25);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease, width 500ms ease, height 500ms ease, background-color 500ms ease;
  display: grid;
  place-items: center;
}
html body #mouse.interacting {
  background-color: rgba(206, 97, 13, 0.55);
  backdrop-filter: blur(3px);
}
html body #mouse.hidden {
  opacity: 0 !important;
}
html body #mouse.clicked {
  opacity: 25% !important;
}
html body #mouse.mobile {
  opacity: 0 !important;
}

.mouse-icon {
  display: grid;
  place-items: center;
  font-size: 20px;
  color: #d9d9de;
  opacity: 0;
  transition: opacity 500ms ease;
}
.mouse-icon.shown {
  opacity: 1;
}

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #d9d9de;
}

p, a, strong, span {
  line-height: 160%;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}
h1:is(h2, h3, h4, h5, h6), h2:is(h2, h3, h4, h5, h6), h3:is(h2, h3, h4, h5, h6), h4:is(h2, h3, h4, h5, h6), h5:is(h2, h3, h4, h5, h6), h6:is(h2, h3, h4, h5, h6) {
  margin-bottom: 0.25em;
}

h2 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.75rem;
  }
}

h3 {
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.6rem;
  }
}

main {
  width: min(90%, 1200px);
  margin-inline: auto;
  padding-block: 5%;
}

h1, h2, h3, h4, h5, h6, a, strong {
  color: #ce610d;
}

.interactable {
  cursor: pointer;
}

section {
  padding-block: 5%;
}

.no-script {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  padding: 0.25em 0.75em;
  background-color: rgba(217, 217, 222, 0.3);
  backdrop-filter: blur(3px);
  border-top-left-radius: 1vmin;
}

.no-js-element {
  display: none;
}

body.no-js .no-js-element {
  display: block;
  border: 2px dashed #ce610d;
  color: #ce610d;
  font-size: 11vmin;
  font-weight: 600;
  text-align: center;
  padding: 3vmin 1vmin;
  border-radius: 1vmin;
}
body.no-js .no-js-element::before {
  content: "Hier fehlt ein Element, bitte aktiviere JavaScript.";
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
body.no-js .no-js-element + * {
  display: none;
}

.context_menu {
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  background-color: rgba(217, 217, 222, 0.5);
  backdrop-filter: blur(10px);
  transform: translateY(10px);
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* padding: .5rem 1rem; */
  border-radius: 1vmin;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease, transform 250ms ease-in-out;
  display: grid;
  place-items: center;
}
.context_menu .context_menu_group:not(:last-child) {
  margin-bottom: 0.75rem;
}
.context_menu.shown {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
.context_menu .context_menu_item, .context_menu a {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
  overflow: hidden;
  color: #19191a;
}
.context_menu .context_menu_item:is(.context_menu_item), .context_menu a:is(.context_menu_item) {
  padding: 0.5em 0.75em;
}
.context_menu .context_menu_item.has-link, .context_menu a.has-link {
  padding: 0;
}
.context_menu .context_menu_item a, .context_menu a a {
  padding: 0.5em 0.75em;
}
.context_menu .context_menu_item > *:not(i), .context_menu a > *:not(i) {
  width: 100%;
}
.context_menu .context_menu_item:has(a), .context_menu a:has(a) {
  background-color: red;
}
.context_menu .context_menu_item:is(.context_menu_item)::before, .context_menu a:is(.context_menu_item)::before {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(206, 97, 13, 0.5);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 0;
  transition-duration: 250ms;
}
.context_menu .context_menu_item:is(.context_menu_item):hover::before, .context_menu a:is(.context_menu_item):hover::before {
  width: 100%;
}
.context_menu .context_menu_item > *, .context_menu a > * {
  z-index: 3;
}
.context_menu .context_menu_ctx {
  display: none;
}
.context_menu .context_menu_ctx.shown {
  display: block;
}

.splide__pagination {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.splide__pagination__page {
  background-color: #969699;
  border-radius: 0.25vmin;
  width: 0.8em;
  height: 0.6em;
}
.splide__pagination__page.is-active {
  width: 2em;
  background-color: #ce610d;
}

i[class^=flaticon-]:before, i[class*=" flaticon-"]:before {
  display: block;
}

/*# sourceMappingURL=main.css.map */
